#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_StationCoind += debian/examples/*
DEB_INSTALL_MANPAGES_StationCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix StationCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f StationCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake StationCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/StationCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/StationCoind
binary-post-install/StationCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/StationCoin-qt
